body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
}

.TextField {
  color: #f44336;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cleaning-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cleaning-section {
  min-width: 350px;
  padding: 50px 50px;
}

.padding-left {
  padding-left: 30px;
}

button {
  cursor: pointer;
}

@media {
  .log-in-box {
    min-width: 270px;
    min-height: 300px;
  }
}
